.search-box {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.input-search {
    margin: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #4d4b4b;
}

.input-button {
    background-color: #f6f6f6;
    color: #4d4b4b;
    font-size: 16px;
    width: 95px;
    height: 45px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
}

label {
    color: #4d4b4b;
    font-weight: bold;
}